.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom-components-list {
  font-size: 16px;
  font-weight: lighter;
  background-color: aliceblue;
  border: 2px black solid;
  padding: 20px;
  margin: 90px;
}

.good-list {
  list-style-position: inside;
}

.avatar-bg {
  background-color: #B0BECC !important;
}

.sort-btn {
  margin-right: 10px !important;
  float: right;
}